body {
	margin: 0;
}

header {
	color: gray;
	background-color: #ccc;
	height: 40px;
	padding: 10px 0;
	margin-bottom: 30px;
}

.button {
	background-color: tan;
	color: white;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	float: right;
	margin-right: 10px;
}

	.button:hover {
		background-color: rosybrown;
	}

form {
	margin: auto;
	width: 50%;
	padding: 20px;
	color: gray;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

textarea {
	height: 200px;
	min-width: 100%;
	min-height: 100px;
}

input[type="submit"] {
	background-color: tan;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

	input[type="submit"]:hover {
		background-color: rosybrown;
	}
